<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<entityFramework>
		<providers>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="LatihanContext" connectionString="server=localhost; database=latihan; uid=steven; password=12345" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>